#detalles {
    display: flex;
    flex-direction:row;
    gap: 5rem;
}

#borrar {

    background-color: rgb(224, 85, 85);
}

#completada {
    background-color: rgb(110, 231, 110);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#contador {
font-weight: bold;
}

button {
    transition-duration: 0.4s;
    border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  margin: auto;
}
button:hover {
    
    color: white;
  }

#tareasPorHacer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

